# MongoDB Connection
MONGODB_URI=mongodb://localhost:27017/food-delivery

# Socket.io Server URL
NEXT_PUBLIC_SOCKET_URL=http://localhost:3001

# Node Environment
NODE_ENV=development

# Port
PORT=3000